footer{
  text-align: center;
  padding: 25px 0;
  border-top: 0.8px solid rgba(0, 0, 0, 0.171); 
  width: 100%;
}

footer .copy-right-txt{
  font-family: var(--font-family-heading);
  color: var(--font-color-black3);
}